.navbar {
    display: flex;
    align-items: center;
    width: 100% auto;
    height: 30%;
    min-width: 400px;
    color: white;
    background-image: linear-gradient(to right,rgb(26, 42, 56), rgb(54, 117, 177));
  }

  .logo{
    margin-right: 10px;
    margin-left: 200px;
    width: 70px;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    filter: grayscale(50%); 
    background-color: #d3f1ff;
    padding: 12px;
  }

  .logo:hover{
    transform: scale(1.12);
    background-color: #b1bfc7;
  }

  .h1{
    text-shadow: 4px 4px 6px #000;
    letter-spacing: 2px; 
  }
  .rightPart{
    margin-left: auto;   
    display: flex;
    align-items: center;
    width: 38%;
  }

  .a{
    width: 22%;
    text-align: center;
    font-size: 22px;
    text-shadow: 6px 6px 8px #000000;
    border-radius: 3%;
    color: #fffdfd;
    text-decoration: none;
   }

  .a:hover{
    background-color: #555758;
    transform: scale(1.05);
    background-image: linear-gradient(to right, rgb(59, 93, 124),rgb(38, 45, 51));
  }

  