.navbar {
    display: flex;
    align-items: center;
    width: 100% auto;
    height: 30%;
    min-width: 400px;
    color: white;
    background-image: linear-gradient(to right,rgb(26, 42, 56), rgb(54, 117, 177));
  }

  .logo{
    margin-right: 10px;
    margin-left: 85px;
    width: 70px;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    filter: grayscale(50%); 
    background-color: #d3f1ff;
    padding: 12px;
  }

  .logo:hover{
    transform: scale(1.12);
    background-color: #b1bfc7;
  }

  .h1{
    text-shadow: 4px 4px 6px #000;
    letter-spacing: 2px; 
  }
  .rightPart{
    margin-left: auto;   
    display: flex;
    align-items: center;
    gap: 45px;
    width: 30%;
  }

  .a{
    width: 25%;
    text-align: center;
    font-size: 22px;
    text-shadow: 2px 2px 4px #413f3f;
    background-color: #c0d2dd;
    border-radius: 3%;
    color: #413f3f;
    text-decoration: none;
   }

  .a:hover{
    background-color: #b1bfc7;
    transform: scale(1.0);
  }

  